:root {
    --ozadje: aquamarine;
    --barvaTekst: dark green;
    --polje: green;
}

body {
    background-color: var(--ozadje);
    margin: 50px;
    width: 70%;
    border: 5px solid green;
    padding: 20px;
}

.msg .reset {
    color: var(--barvaTekst);
    font-size: large;
    font-weight: bold;
}

.polje {
    background-color: green;
    margin: 25px;
}

.kvadratek {
    border: 3xp white;
    background-color: lightgreen;
    height: 25px;
    width: 25px;
}